/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Tutorial Case

   Survey Forms Style Sheet
   Author: Diana Kaptyug
   Date:   11/29/22

   Filename:         rb_forms.css

*/

/* Form Layout Styles */



/* Legend Styles */



/* Text Area Styles */



/* Spinner Styles */



/* Form Button Styles */



/* Validation Styles */
